@font-face {
  font-family: eagle;
  src: url(fonts/EagleLake-Regular.ttf);
}

@font-face {
  font-family: julee;
  src: url(fonts/Julee-Regular.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  margin: 0px;
  background-size: cover;
  background-position: center;
  /* position: fixed; */
  top: 0px;
}

.candle {
  width: 50vw;
  height: 50vw;
  margin: auto auto;
}

.candle h2 {
  text-align: center;
  opacity: 0.5;
  transition: opactiy 1s ease;
  font-family: eagle;
}

a {
  text-decoration: none;
}

#entertext {
  color: wheat;
  opacity: 0;
  text-shadow: 0 0 5px white;
  transition: opacity 2s, text-shadow 5s, letter-spacing 3s, transform 3s ease-out;
}

#candlea {
  transition: transform 1s ease;
  z-index: 2;
  opacity: 0.8;
  position: absolute;
  width: 50vw;
  margin: auto auto;
}

#candleb {
  opacity: 0.8;
  z-index: 1;
  transition: transform 1s, filter 2s ease;
  position: absolute;
  width: 50vw;
  margin: auto auto;
}


article {
  margin: 16px;
}

article h3 {
  text-shadow: 0 0 10px black;
}

body:hover {
  opacity: 0.95;
}

header {
  background-color: transparent;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
}

.bot-ref {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}

@keyframes pulse {
  0% {
    filter: hue-rotate(0deg);
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    filter: hue-rotate(360deg);
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {}

  100% {
    filter: hue-rotate(360deg);
  }
}
}

@keyframes pulse3 {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {}

  100% {
    filter: hue-rotate(360deg);
  }
}

.triangle {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: -75vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: -1;
  transform: rotate(45deg);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.triangle2 {
  filter: hue-rotate(25deg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 25, 50, 0.1);
  width: 90%;
  height: 90%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: -1;
  transform: rotate(45deg);
  animation-delay: 500ms;
  animation: pulse2 3s ease infinite;
  border-radius: 50px;
}

.triangle3 {
  filter: hue-rotate(25deg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 25, 50, 0.1);
  width: 90%;
  height: 90%;
  margin: auto auto;
  display: flex;
  flex-flow: column;
  border-radius: 50px;
  transform: rotate(45deg);
  justify-content: center;
  z-index: -1;
  animation-delay: 300ms;
  animation: pulse3 5s ease infinite;
}

body {
  background: linear-gradient(to top, black, transparent);
}

header h1 {
  animation: pulse 5s ease infinite;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100vw;
  height: 100px;
  max-height: 100px;
  position: relative;
  bottom: 0px;
  filter: saturate(0);
  transition: filter 500ms ease;
}

footer:hover {
  filter: saturate(1);
}

article {
  /* max-width: 90vw; */
  /* margin: auto auto; */
  /* box-shadow: 0px -5px 50px rgba(16, 17, 19, 0.5); */
  /* text-shadow: 0px 0px 5px rgba(16, 17, 19, 0.5); */
  /* background-color: rgba(0, 0, 0, 0.71); */
  width: 80vw;
  border-radius: 4px;
  margin: 32px auto;
  position: relative;
  /* max-height: 60vh; */
  /* overflow-y: auto; */
  -webkit-scrolling: touch;
}

.icon {
  transition: transform 500ms ease;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 500ms ease;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: eagle;
  color: rgba(16, 17, 19, 0.5);
  mix-blend-mode: color-dodge;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: julee;
  color: rgba(16, 17, 19, 0.5);
  mix-blend-mode: color-dodge;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: julee;
  color: rgba(255, 255, 255, 0.8);
}

header h1 {
  text-shadow: 0 0 15px #422f24;
}

@media screen and (max-width:100vh) {
  .triangle {
    display: none;
  }

  article h3 {
    font-size: 16px;
  }
}
@media screen and (max-width:100vh) {
  article h3{font-size:16px;}
}
