@font-face {
  font-family: eagle;
  src: url(fonts/EagleLake-Regular.ttf);
}

@font-face {
  font-family: julee;
  src: url(fonts/Julee-Regular.ttf);
}

body {
  height:100vh;width:100vw;
  display: flex;
  flex-flow: column;
  margin: 0px;
  background-size:cover;
  background-position:center;
}

body:hover{opacity:0.95;}

header {
  background-color: transparent;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}
a{text-decoration:none;}
h1 {
  text-align:center;
  font-size: 2.5rem;
  font-family: eagle;
  color:rgba(16,17,19,0.5);
  mix-blend-mode: color-dodge;
}
h2 {
  text-align:center;
  font-size: 2.5rem;
  font-family: julee;
  color:rgba(16,17,19,0.5);
  mix-blend-mode: color-dodge;
}
h3 {
  text-align:center;
  font-size: 1.5rem;
  font-family: julee;
  color:rgba(255,255,255,0.8);
}

header h1{  text-shadow: 0 0 15px #422f24;
}
